/*Styles for the box*/
.box {
  border: 2px solid black;
  border-radius: 4px;
}

.box-header {
  font-size: 20px;
  font-weight: bold;
}

/*Styles for the toggle area*/
.toggle-area {
  font-size: 20px;
  font-weight: bold;
}

.toggle-always-on {
  font-size: 10px;
  font-weight: bold;
  color: green;
  line-height: 24px;
}

/*Styles for setting the toggle switches*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/*Remove default HTML for checkbox*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*Styles for slider in default position*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/*Styles when the switch is checked*/
input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/*Styles to make the slider round*/
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Styles for the textarea*/
.text-space {
  width: 100%;
}